@use "../literals/links.icss" as links;
@use "../utils/styleutils" as utils;
$back2top-foreground: #9d9d9d;
$back2top-background: #ffffff;
$back2top-boxshadow: #c2c2c2;


// 
// indicator "back to the top" 
#cnblogx-back2top {
  box-sizing: border-box;
  padding: 8px;
  border-radius: 3px;
  width: 38px;
  height: 38px;

  @include utils.portrait {
    width: 48px;
    height: 48px;
  }

  color: $back2top-foreground;
  right: 6px;
  position: fixed;
  bottom: 6px;
  cursor: pointer;
  background-color: $back2top-background;
  box-shadow: 1px 1px 3px $back2top-boxshadow;
  transition: opacity .3s ease 0s, visibility .3s ease 0s;
  &::before {
    content: links.$back2top-icon-link;
    display: block;
    width: 100%;
    height: 100%;
  }
  &.cnblogx-back2top-hidden {
    visibility: hidden;
    opacity: 0;
  }
}
