@use "../styleutils";


@include styleutils.portrait {
    .cnblogx_stackel {
        top: auto !important;
        left: auto !important;
        right: 12px !important;
        width: 36px !important;
        height: 36px !important;
        bottom: var(--cnblogx-stackel, 24px) !important;
    }
  }