@use "../styleutils" as utils;


@include utils.portrait {
    .cnblogx_stackel {
        top: auto !important;
        left: auto !important;
        right: 12px !important;
        width: 38px !important;
        height: 38px !important;
        bottom: var(--cnblogx-stackel, 24px) !important;
    }
  }