@use "../utils/styleutils";
@use "../literals/links";


#home {
    margin-top: 12px;
    padding-top: 2px;
    font-size: 14px;
    color: rgb(44, 45, 47);
    @include styleutils.portrait {
        margin-top: 0;
        padding: 12px;
    }
}

#navigator {
    margin-top: 0;
    border-top: none;
}

@include styleutils.landscape {
    #main {
        gap: 18px;
        display: flex;
        margin-top: 4px;

        #mainContent {
            flex: 1;
            margin: 0;

            >.forFlow {
                padding: 2px;
                margin: 0;
            }
        }

        #sideBar {
            width: 240px;
        }

        #sideBar + div {
            display: none;
        }
    }
}

#green_channel{
    a {
        background-image: none;
        border-radius: 3px;
    }
    #green_channel_digg {
        background-color: rgb(138, 220, 225);
    }
    #green_channel_follow {
        background-color: rgb(202, 146, 221);
    }
    #green_channel_favorite {
        background-color: rgb(214, 167, 121);
    }
} 


#topics {
    float: none;
    h1.postTitle {
        font-size: 24px;
    
        a:hover {
            margin-left: auto;
            color: #21759b;
        }
    }
}

.postBody blockquote {
    background-image: none;
}

.cnb-code-toolbar:hover {
    color: rgb(92, 94, 100);
    opacity: .8;

    >.cnb-code-toolbar-item:hover {
        color: rgb(44, 45, 47);
        opacity: 1;
    }
}

.code-fullscreen-overlay>pre {
    font-size: 14px;
    line-height: 1.45;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

#sideBar {
    overflow: visible;
    font-size: 14px;
}

#div_digg {
    >.diggit {
        background-image: links.$article-diggit-icon-link;
    }
    >.buryit {
        background-image: links.$article-buryit-icon-link;
    }
    >.diggit, 
    >.buryit {
        filter: contrast(105%);
        &:hover {
            filter: contrast(110%);
        }
    }
}

.comment_textarea {
    width: 100%;
}