$back2top-icon-link: url(//blog-static.cnblogs.com/files/blogs/703113/back2top.svg);
$article-diggit-icon-link: url(//blog-static.cnblogs.com/files/blogs/703113/diggit.gif);
$article-buryit-icon-link: url(//blog-static.cnblogs.com/files/blogs/703113/buryit.gif);
$avatar-default-portrait-link: url(//blog-static.cnblogs.com/files/blogs/703113/default-avatar.svg);